name: assignment-test
on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "*"
jobs:
  unit-test:
    container: cuaesd/aesd-autotest:24-unit-test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Checkout submodules
        run: git submodule update --init --recursive --remote
      - name: Run unit test
        run: ./unit-test.sh
  full-test:
    container: cuaesd/aesd-autotest:24-assignment1
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Checkout submodules
        run: git submodule update --init --recursive --remote
      - name: Run full test
        run: ./full-test.sh
